* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

.container {
    
    margin: auto;
    max-width: 1000px;
}

header {
    background-color: #48c5ce;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.title {
   font-size: 26px;
}

section {
    padding: 20px;
    background-image: url("../images/people.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section::after {
    content: "";
    clear: both;
    display: table;
}
    
.formContainer {
    background-color: #ffffffbb;
    max-width: 280px;
    height: 480px;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 18px;
    text-align: auto;
}

.formContainer p {
    word-spacing: 0;
    font-size: 17px;
    text-align: justify;
}

.margin_bottom {
    margin-bottom: 25px;
}

input, select {
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #48c5ce;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 2px solid #000000;
}

input[type="submit"]:active {
    background-color: red;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.picture {
    width: 160px;
}

.description {
    color: #ffffff;
    text-align: left;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}

.description p {
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .title {
        text-align: center;
        font-size: 20px;
    }

    section {
        padding: 0;
    }

    .formContainer {
        background-color: #ffffff69;
        max-width: 100%;
        height: 390px;
        padding: 20px;
        float: right;
        box-sizing: border-box;
    }
    h2 {
        font-size: 17px;
        text-align: left;
    }

    p {
        text-align: justify;
        font-size: 16px;
    }
    
    input[type="submit"] {
        float: right;
        width: 50%;
        color: #ffffff;
        background-color: #48c5ce;
        font-weight: bold;
        cursor: pointer;
    }

    footer {
        background-color: #202121;
        padding: 10px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
    }
    
    .picture {
        width: 160px;
    }
    
    .description {
        padding: 20px;
        color: #ffffff;
        display: inline-block;
        max-width: 300px;
        margin-right: 40px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .description p, .description h3 {
        margin-bottom: 20px;
        
    }
    
    .description p {
        text-align: justify;
        font-size: 16px;
    }

    .description h3 {
        font-size: 25px;
        margin-left: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
}

@media screen and (max-width: 416px) {

    .title {
        text-align: center;
        font-size: 20px;
    }

    section {
        padding: 0;
    }

    .formContainer {
        background-color: #ffffff69;
        max-width: 100%;
        height: 420px;
        padding: 20px;
        float: right;
        box-sizing: border-box;
    }
    h2 {
        font-size: 17px;
        text-align: left;
    }

    p {
        text-align: justify;
        font-size: 16px;
    }
    

    footer {
        background-color: #202121;
        padding: 10px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
    }
    
    .picture {
        width: 160px;
    }
    
    .description {
        padding: 20px;
        color: #ffffff;
        display: inline-block;
        max-width: 300px;
        margin-right: 40px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .description p, .description h3 {
        margin-bottom: 20px;
        
    }
    
    .description p {
        text-align: justify;
        font-size: 16px;
    }

    .description h3 {
        font-size: 25px;
        margin-left: 45px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
}

@media screen and (max-width: 360px) {
    .formContainer {
        height: 440px;
    }
   
    footer {
        background-color: #202121;
        padding: 10px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
    }
    
    .picture {
        width: 160px;
    }
    
    .description {
        padding: 20px;
        color: #ffffff;
        display: inline-block;
        max-width: 300px;
        margin-right: 40px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .description p, .description h3 {
        margin-bottom: 20px;
        
    }
    
    .description p {
        text-align: justify;
        font-size: 16px;
    }

    .description h3 {
        font-size: 25px;
        margin-left: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
}

@media screen and (max-width: 330px) {

    .description h3 {
        font-size: 20px;
        margin-left: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    } 
}